:root {
    --main-background: blue;
    --main-font-size: "1rem";
    --main-font-color: black;;
    --chat-background: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: var(--main-background);

};

.container {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.chat-container {
  width: 80vw;
  height: 600px;
  background: var(--chat-background);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.chat-header {

    width: 100%;
    height: 50px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.chat-messages {

    padding: 20px;
    height: 70%;

}

.chat-input > input {

    width: 100%;

}